/* Set background gradient */
body {
    background: linear-gradient(318deg, #432371, #4c255e, #54274b, #5d2939, #652b26, #6e2d13, #762f00);
    background-size: 1400% 1400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    overflow: hidden
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Style the logo */
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh}
  
  .logo {
    width: 512px;
    height: auto;
  }
  
  .logo-text {
    font-family: 'Samsung Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin-top: 20px;
  }
  
  /* Style the button */
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .btn {
    font-family: 'Samsung Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #4e8383;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  
  }
