body {
    background-color: #191919;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    filter: brightness(500%);
    transition: transform 0.2s;
  }
  
  .logo:hover img {
    transform: scale(1.1);
  }
  
  .logo h1 {
    font-size: 36px;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }
  
  nav a:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  }
  
  .featured-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .featured-image {
    text-align: center;
    margin: 20px;
    flex-basis: calc(25% - 40px);
  }
  
  .featured-image img {
    max-width: 100%;
  }
  
  .featured-image p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
  }
  

  .guides-photos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  

  .guides-photos img {
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
  }

  

  #featured {
    text-align: center;
    padding:
  